@page
@model RememberRead.Pages.AddNewBookModel
@{
}


<div>
	<h1>Add New Book</h1>

	<p>anything marked with a "*" is required</p>
	<form method="post" class="addForm">
		<label class="addLabel" for="AddBookTitle">*Book Title</label>
		<input class="addInput" type="text" name="AddBookTitle" required />

		<label class="addLabel" for="AddBookAuthor">*Book Author</label>
		<input class="addInput" type="text" name="AddBookAuthor" required />

		<label class="addLabel" for="AddAdditionalNotes">Additional Notes</label>
		<input class="addInput" type="text" name="AddAdditionalNotes" />

		<button class="button" type="submit">Add</button>
		<a class="button" asp-page="/BookList">Cancel</a>
	</form>
</div>