@page
@model RememberRead.Pages.EditBookModel
@{
}

<div>
	<h1>Edit Book</h1>

	<p>anything marked with a "*" is required</p>
	<form method="post" class="addForm">
		<input type="hidden" value="@Model.BookToEdit.Id" />

		<label class="addLabel" for="EditBookTitle">*Book Title</label>
		<input class="addInput" type="text" name="EditBookTitle" value="@Model.BookToEdit.BookTitle" required />

		<label class="addLabel" for="EditBookAuthor">*Book Author</label>
		<input class="addInput" type="text" name="EditBookAuthor" value="@Model.BookToEdit.BookAuthor" required />

		<label class="addLabel" for="EditAdditionalNotes">Additional Notes</label>
		<input class="addInput" type="text" name="EditAdditionalNotes" value="@Model.BookToEdit.AdditionalNotes" />

		<button class="button" type="submit">Edit</button>
		<a class="button" asp-page="/BookList">Cancel</a>
	</form>
</div>