@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Effective Date: 28/01/2025

    RememberRead ("we", "our" or "us") respects your privacy and is committed to protecting your personal information. This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website RememberRead.com.

    By using our website, you agree to the terms of this Privacy Policy.
</p>

<div>
    <h3>Information We Collect</h3>
    <p>
        We may collect the following types of information:
        <ul>
            <li>Personal Information: Name, email address, phone number, or any other information you voluntarily provide.</li>
            <li>Non-Personal Information: Browser type, device information, IP address, pages visited, and other analytical data.</li>
        </ul>
    </p>
</div>

<div>
    <h3>How We Use Your Information</h3>
    <p>
        
        We may use your information for the following purposes:
        <ul>
            <li>To operate and improve our website.</li>
            <li>To respond to your inquiries or provide customer support.</li>
            <li>To send updates, promotional materials, or other communications.</li>
            <li>To comply with legal obligations.</li>
        </ul>
    </p>
</div>

<div>
    <h3>Sharing Your Information</h3>
    <p>
        We do not sell or rent your personal information. However, we may share your information with third parties in the following cases:
        <ul>
            <li>With service providers who assist in website operations (e.g., hosting, analytics).</li>
            <li>To comply with legal requests or prevent fraud.</li>
        </ul>
    </p>
</div>

<div>
    <h3>Cookies and Tracking Technologies</h3>
    <p>
        Our website may use cookies and similar technologies to improve user experience. You can adjust your browser settings to decline cookies if you prefer.
    </p>
</div>

<div>
    <h3>Security of Your Information</h3>
    <p>
        We implement reasonable security measures to protect your data. However, no system is completely secure, and we cannot guarentee absoolute security.
    </p>
</div>

<div>
    <h3>Your Choices</h3>
    <p>
        You have the right to:
        <ul>
            <li>Access, update or delete your personal information.</li>
            <li>Opt-out of receiving promotional emails by clicking the "unsubscribe" link in any email.</li>
        </ul>
    </p>
</div>

<div>
    <h3>Links to Third-Party Websites</h3>
    <p>
        Our Website may contain links to third-party websites. We are not responsable for their privacy practices.
    </p>
</div>

<div>
    <h3>Updates to This Policy</h3>
    <p>
        We may update this Privacy Policy from time to time. The updated policy will be posted on this page with the "Effective Date" at the top.
    </p>
</div>